@font-face {
    font-family: 'Norse Bold';
    src: url('../assets/font/Norse-Bold.otf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

main {
    display: flex;
}

#left {
    position: relative;
    overflow: hidden;
    flex: 1;
}

.background {
    width: 100%;
    height: inherit;
}

.odin-logo {
    position: absolute;
    width: 100%;
    top: 25%;
    background-color: rgb(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    font-family: 'Norse Bold', sans-serif;
}

.form-area {
    flex-basis: 60%;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 50px 30px 30px;
}

.form {
    padding: 30px 0;
    background-color: white;
    flex: 1;
}

fieldset {
    padding: 0 30px 30px;
    border: none;
    box-shadow: 0 5px 7px #E5E7EB;
}

.form-input {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

label {
    font-weight: 500;
    font-size: .8rem;
    flex-basis: 40%;
    text-transform: uppercase;
    margin-right: 20px;
}

label p {
    color: red;
    font-size: .8rem;
    text-transform: none;
}

input {
    display: block;
    width: 100%;
    padding: 5px 10px;
    border-radius: 6px;
    border: 2px solid #E5E7EB;
    font-size: 1rem;
    outline: none;
}

input:focus {
    border: 1px solid blue;
    box-shadow: 0 0 3px black;
}

input:focus:invalid,
.error {
    border-color: red;
}

a {
    color: #596D48;
    font-weight: 600;
    text-decoration: none;
}

.submit {
    padding: 30px;
    padding-top: 30px;
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    background-color: #596D48;
    color: white;
    padding: 10px 30px;
    font-size: 1rem;
    font-weight: 600;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 10px;
}